/*@font-face {
    font-family: urdu;
    src: url(../fonts/Jameel%20Noori%20Nastaleeq.ttf);
}
@font-face {
    font-family: english;
    src: url(../fonts/OpenSans-Regular.ttf);
}*/
/*
*** Loader
*/
#loader {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
}
#loader.active {
    display: flex;
}
#loading-item {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #009304;
    border-bottom: 16px solid #009304;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


h1,h2,h3,h4,h5,h6,p{
    /*font-family:english !important;*/
}
header{
    height: 54px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00af29+0,299a0b+35,00bc2c+67,009304+100 */
    background: #00af29; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #00af29 0%, #299a0b 35%, #00bc2c 67%, #009304 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #00af29 0%,#299a0b 35%,#00bc2c 67%,#009304 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #00af29 0%,#299a0b 35%,#00bc2c 67%,#009304 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00af29', endColorstr='#009304',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.heading-1{
    color:#03ab31;
    text-align:center;
    padding:10px;
    font-size:40px;
    font-weight:bold;
}
.user-name{
    color:#FFF;
    text-align:center !important;
    margin-left:12px;
}
.inside{
    width:50px;
    font-size:36px;
    background-color:#03ab31;
    height:50px;
}
.name{
    width:100%;
    height:100%;
    outline:none !important;
    padding:10px;
    /*font-family:english;*/
    font-size:20px;
}
.log-in{
    height:50px;
    width:100%;
    background-color:#03ab31;
    border:none;
    /*font-family:english;*/
    font-size:20px;
    color:#FFF;
    font-weight:bold;
    margin-top:30px;
}
.gray{
    background-color:#CCC;

}
.white{
    border-bottom:1px solid #666;
    /*padding-bottom:5px;*/

}
.status{
    margin-bottom: 0;
    padding-bottom:12px;
    padding-top: 12px;
    font-size:18px;
    font-weight:bold;
}
.status-bookings {
    height: 20px;
}
.status-line {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1.17rem;
}
.driver-name
{
    font-size:18px;
    margin-bottom: 0;
    padding-bottom:12px;
    padding-top: 12px;
}
.status-1
{
    font-size:16px;
}
a:hover{
    text-decoration:none;
}
.green{
    color:#28bb4e !important;
}
.orange{
    color:#F60 !important;
}
.red{
    color:#F00 !important;
}
.next{
    color:#28bb4e;
    font-size:16px;
    padding:12px 0;
    text-align:center;
}
.time{
    font-size:12px;
    margin-top: 18px; /*changed*/
    margin-bottom: 12px; /*added*/
}
.rs {
    color: #000;
    margin-bottom: 0;
    padding-top: 16px;
    font-weight:bold;
    padding-bottom: 0;
    /*padding-top: 0;*/
    font-size: 1.17rem;
}
.rs-compl {
    font-size:12px;
    font-weight: bold;
    margin: 3px 0 0 0;
}
.btn-1{
    border:1px solid #FFF;
}
.modal-container {
    position: relative;
    display: none;
    padding: 15px;
    background-color: #e8e8e8;
    border-radius: 5px;
    position: absolute;
    top: 19vh;
    left: 0;
    box-shadow: 0 0 15px #888888;
}
.modal-container.active {
    display: block;
}
.modal-text-area {
    margin-top: 15px;
    height:150px;
    width:100%;
    padding:10px;
    /*font-family:english;*/
    border-radius:5px;
    color: #888;
}
.modal-submit {
    width:100%;
    height:50px;
    background-color:#02aa31;
    color:#FFF;
    font-size:20px;
    /*font-family:english;*/
    border:none;
}
.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
}
.modal-close i {
    margin: 0;
    padding: 0;
    color: #ad0000;
    cursor: pointer;
}
.modal-close:hover i {
    color: darkred;
}
#activateProfile {
    margin-right: 0;
}

/*
**  ****************************
**  Overwriting bootstrap styles
**  ****************************
*/

/*  Bootstrap tabs  */
a {
    color: #337ab7;
}
.nav-item {
    padding-left: 0;
    padding-right: 0;
}
.nav-item .nav-link {
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-item .nav-link.active {
    background-color: #390;
    color: #ffffff;
}
.input-group-addon {
    border-radius: 0;
    border:2px solid #333;
    padding:0;
    width: 54px;
    font-size: 36px;
    background-color: #03ab31;
    height: 54px;
}
.login-input {
    border:1px solid #000;
    height:54px;
    padding: 10px;
    border-radius: 0;
    font-size: 20px;
    color: rgb(51,51,51);
}
.breadcrumb {
    margin-bottom: 0;
    background-color: #ffffff;
    padding-left: 0;
}
.hgt-54 {
    height: 54px;
}
.hgt-95{
    height: 95px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-14 {
    margin-top: 14px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-45 {
    margin-top: 45px;
}
.mt-10vh {
    margin-top: 10vh;
}
.mt-20vh {
    margin-top: 20vh;
}
.mb-10{
    margin-bottom: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pb-15 {
    padding-bottom: 15px;
}
.ps-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.bg-green {
    background-color:#02aa31;
}
.bg-white {
    background-color: #ffffff;
}
.text-black {
    color: #000000;
}
.fz-16 {
    font-size: 16px;
}
.fz-24 {
    font-size: 24px;
}
.fz-10 {
    font-size: 10px;
}
.fz-14 {
    font-size: 14px;
}
.font-bold {
    font-weight: bold;
}
.font-thin {
    font-weight: 100;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 12px 12px 0 12px;
}
label {
    cursor: pointer;
    margin: 0;
}
.not-found {
    font-size: 40px;
    text-transform: uppercase;
}
.full-width {
    width: 100%;
}
.error {
    display: none;
    color: #ad0000;
}
.error.active {
    display: inline;
}